<div>
  <h2 id="page-heading" data-cy="FamilleHeading">
    <span jhiTranslate="payrollApp.famille.home.title">Familles</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="payrollApp.famille.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-famille"
        [routerLink]="['/famille/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="payrollApp.famille.home.createLabel"> Create a new Famille </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="familles?.length === 0">
    <span jhiTranslate="payrollApp.famille.home.notFound">No familles found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="familles && familles.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="dateSituation">
            <span jhiTranslate="payrollApp.famille.dateSituation">Date Situation</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="dateop">
            <span jhiTranslate="payrollApp.famille.dateop">Dateop</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="util"><span jhiTranslate="payrollApp.famille.util">Util</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="modifiedBy">
            <span jhiTranslate="payrollApp.famille.modifiedBy">Modified By</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="op"><span jhiTranslate="payrollApp.famille.op">Op</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="isDeleted">
            <span jhiTranslate="payrollApp.famille.isDeleted">Is Deleted</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="createdDate">
            <span jhiTranslate="payrollApp.famille.createdDate">Created Date</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="modifiedDate">
            <span jhiTranslate="payrollApp.famille.modifiedDate">Modified Date</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="employe.id">
            <span jhiTranslate="payrollApp.famille.employe">Employe</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="situationFamiliale.id">
            <span jhiTranslate="payrollApp.famille.situationFamiliale">Situation Familiale</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="conjoint.id">
            <span jhiTranslate="payrollApp.famille.conjoint">Conjoint</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let famille of familles; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/famille', famille.id, 'view']">{{ famille.id }}</a>
          </td>
          <td>{{ famille.dateSituation | formatMediumDate }}</td>
          <td>{{ famille.dateop | formatMediumDatetime }}</td>
          <td>{{ famille.util }}</td>
          <td>{{ famille.modifiedBy }}</td>
          <td>{{ famille.op }}</td>
          <td>{{ famille.isDeleted }}</td>
          <td>{{ famille.createdDate | formatMediumDatetime }}</td>
          <td>{{ famille.modifiedDate | formatMediumDatetime }}</td>
          <td>
            <div *ngIf="famille.employe">
              <a [routerLink]="['/employe', famille.employe?.id, 'view']">{{ famille.employe?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="famille.situationFamiliale">
              <a [routerLink]="['/situation-familiale', famille.situationFamiliale?.id, 'view']">{{ famille.situationFamiliale?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="famille.conjoint">
              <a [routerLink]="['/conjoint', famille.conjoint?.id, 'view']">{{ famille.conjoint?.id }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/famille', famille.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/famille', famille.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(famille)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="familles && familles.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
