<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="palierCondition">
      <h2 data-cy="palierConditionDetailsHeading"><span jhiTranslate="payrollApp.palierCondition.detail.title">Palier Condition</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ palierCondition.id }}</span>
        </dd>
        <dt><span jhiTranslate="payrollApp.palierCondition.code">Code</span></dt>
        <dd>
          <span>{{ palierCondition.code }}</span>
        </dd>
        <dt><span jhiTranslate="payrollApp.palierCondition.libEn">Lib En</span></dt>
        <dd>
          <span>{{ palierCondition.libEn }}</span>
        </dd>
        <dt><span jhiTranslate="payrollApp.palierCondition.libAr">Lib Ar</span></dt>
        <dd>
          <span>{{ palierCondition.libAr }}</span>
        </dd>
        <dt><span jhiTranslate="payrollApp.palierCondition.annee">Annee</span></dt>
        <dd>
          <span>{{ palierCondition.annee }}</span>
        </dd>
        <dt><span jhiTranslate="payrollApp.palierCondition.minVal">Min Val</span></dt>
        <dd>
          <span>{{ palierCondition.minVal }}</span>
        </dd>
        <dt><span jhiTranslate="payrollApp.palierCondition.maxVal">Max Val</span></dt>
        <dd>
          <span>{{ palierCondition.maxVal }}</span>
        </dd>
        <dt><span jhiTranslate="payrollApp.palierCondition.util">Util</span></dt>
        <dd>
          <span>{{ palierCondition.util }}</span>
        </dd>
        <dt><span jhiTranslate="payrollApp.palierCondition.dateop">Dateop</span></dt>
        <dd>
          <span>{{ palierCondition.dateop | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="payrollApp.palierCondition.dateModif">Date Modif</span></dt>
        <dd>
          <span>{{ palierCondition.dateModif | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="payrollApp.palierCondition.modifiedBy">Modified By</span></dt>
        <dd>
          <span>{{ palierCondition.modifiedBy }}</span>
        </dd>
        <dt><span jhiTranslate="payrollApp.palierCondition.op">Op</span></dt>
        <dd>
          <span>{{ palierCondition.op }}</span>
        </dd>
        <dt><span jhiTranslate="payrollApp.palierCondition.isDeleted">Is Deleted</span></dt>
        <dd>
          <span>{{ palierCondition.isDeleted }}</span>
        </dd>
        <dt><span jhiTranslate="payrollApp.palierCondition.palierPlate">Palier Plate</span></dt>
        <dd>
          <div *ngIf="palierCondition.palierPlate">
            <a [routerLink]="['/palier-plate', palierCondition.palierPlate?.id, 'view']">{{ palierCondition.palierPlate?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/palier-condition', palierCondition.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
