<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="eligibiliteExclude">
      <h2 data-cy="eligibiliteExcludeDetailsHeading">
        <span jhiTranslate="payrollApp.eligibiliteExclude.detail.title">Eligibilite Exclude</span>
      </h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ eligibiliteExclude.id }}</span>
        </dd>
        <dt><span jhiTranslate="payrollApp.eligibiliteExclude.anneeBegin">Annee Begin</span></dt>
        <dd>
          <span>{{ eligibiliteExclude.anneeBegin }}</span>
        </dd>
        <dt><span jhiTranslate="payrollApp.eligibiliteExclude.moisBegin">Mois Begin</span></dt>
        <dd>
          <span>{{ eligibiliteExclude.moisBegin }}</span>
        </dd>
        <dt><span jhiTranslate="payrollApp.eligibiliteExclude.anneeEnd">Annee End</span></dt>
        <dd>
          <span>{{ eligibiliteExclude.anneeEnd }}</span>
        </dd>
        <dt><span jhiTranslate="payrollApp.eligibiliteExclude.moisEnd">Mois End</span></dt>
        <dd>
          <span>{{ eligibiliteExclude.moisEnd }}</span>
        </dd>
        <dt><span jhiTranslate="payrollApp.eligibiliteExclude.matricule">Matricule</span></dt>
        <dd>
          <span>{{ eligibiliteExclude.matricule }}</span>
        </dd>
        <dt><span jhiTranslate="payrollApp.eligibiliteExclude.code">Code</span></dt>
        <dd>
          <span>{{ eligibiliteExclude.code }}</span>
        </dd>
        <dt><span jhiTranslate="payrollApp.eligibiliteExclude.libEn">Lib En</span></dt>
        <dd>
          <span>{{ eligibiliteExclude.libEn }}</span>
        </dd>
        <dt><span jhiTranslate="payrollApp.eligibiliteExclude.libAr">Lib Ar</span></dt>
        <dd>
          <span>{{ eligibiliteExclude.libAr }}</span>
        </dd>
        <dt><span jhiTranslate="payrollApp.eligibiliteExclude.libFr">Lib Fr</span></dt>
        <dd>
          <span>{{ eligibiliteExclude.libFr }}</span>
        </dd>
        <dt><span jhiTranslate="payrollApp.eligibiliteExclude.annee">Annee</span></dt>
        <dd>
          <span>{{ eligibiliteExclude.annee }}</span>
        </dd>
        <dt><span jhiTranslate="payrollApp.eligibiliteExclude.valPayroll">Val Payroll</span></dt>
        <dd>
          <span>{{ eligibiliteExclude.valPayroll }}</span>
        </dd>
        <dt><span jhiTranslate="payrollApp.eligibiliteExclude.nbDaysLeave">Nb Days Leave</span></dt>
        <dd>
          <span>{{ eligibiliteExclude.nbDaysLeave }}</span>
        </dd>
        <dt><span jhiTranslate="payrollApp.eligibiliteExclude.pourValPayroll">Pour Val Payroll</span></dt>
        <dd>
          <span>{{ eligibiliteExclude.pourValPayroll }}</span>
        </dd>
        <dt><span jhiTranslate="payrollApp.eligibiliteExclude.dateop">Dateop</span></dt>
        <dd>
          <span>{{ eligibiliteExclude.dateop | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="payrollApp.eligibiliteExclude.modifiedBy">Modified By</span></dt>
        <dd>
          <span>{{ eligibiliteExclude.modifiedBy }}</span>
        </dd>
        <dt><span jhiTranslate="payrollApp.eligibiliteExclude.createdBy">Created By</span></dt>
        <dd>
          <span>{{ eligibiliteExclude.createdBy }}</span>
        </dd>
        <dt><span jhiTranslate="payrollApp.eligibiliteExclude.op">Op</span></dt>
        <dd>
          <span>{{ eligibiliteExclude.op }}</span>
        </dd>
        <dt><span jhiTranslate="payrollApp.eligibiliteExclude.util">Util</span></dt>
        <dd>
          <span>{{ eligibiliteExclude.util }}</span>
        </dd>
        <dt><span jhiTranslate="payrollApp.eligibiliteExclude.isDeleted">Is Deleted</span></dt>
        <dd>
          <span>{{ eligibiliteExclude.isDeleted }}</span>
        </dd>
        <dt><span jhiTranslate="payrollApp.eligibiliteExclude.createdDate">Created Date</span></dt>
        <dd>
          <span>{{ eligibiliteExclude.createdDate | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="payrollApp.eligibiliteExclude.modifiedDate">Modified Date</span></dt>
        <dd>
          <span>{{ eligibiliteExclude.modifiedDate | formatMediumDatetime }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/eligibilite-exclude', eligibiliteExclude.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
