<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="contact">
      <h2 data-cy="contactDetailsHeading"><span jhiTranslate="payrollApp.contact.detail.title">Contact</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ contact.id }}</span>
        </dd>
        <dt><span jhiTranslate="payrollApp.contact.nomAr">Nom Ar</span></dt>
        <dd>
          <span>{{ contact.nomAr }}</span>
        </dd>
        <dt><span jhiTranslate="payrollApp.contact.prenomAr">Prenom Ar</span></dt>
        <dd>
          <span>{{ contact.prenomAr }}</span>
        </dd>
        <dt><span jhiTranslate="payrollApp.contact.nomEn">Nom En</span></dt>
        <dd>
          <span>{{ contact.nomEn }}</span>
        </dd>
        <dt><span jhiTranslate="payrollApp.contact.prenomEn">Prenom En</span></dt>
        <dd>
          <span>{{ contact.prenomEn }}</span>
        </dd>
        <dt><span jhiTranslate="payrollApp.contact.email">Email</span></dt>
        <dd>
          <span>{{ contact.email }}</span>
        </dd>
        <dt><span jhiTranslate="payrollApp.contact.tel">Tel</span></dt>
        <dd>
          <span>{{ contact.tel }}</span>
        </dd>
        <dt><span jhiTranslate="payrollApp.contact.phone">Phone</span></dt>
        <dd>
          <span>{{ contact.phone }}</span>
        </dd>
        <dt><span jhiTranslate="payrollApp.contact.adresse">Adresse</span></dt>
        <dd>
          <span>{{ contact.adresse }}</span>
        </dd>
        <dt><span jhiTranslate="payrollApp.contact.util">Util</span></dt>
        <dd>
          <span>{{ contact.util }}</span>
        </dd>
        <dt><span jhiTranslate="payrollApp.contact.dateop">Dateop</span></dt>
        <dd>
          <span>{{ contact.dateop | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="payrollApp.contact.modifiedBy">Modified By</span></dt>
        <dd>
          <span>{{ contact.modifiedBy }}</span>
        </dd>
        <dt><span jhiTranslate="payrollApp.contact.op">Op</span></dt>
        <dd>
          <span>{{ contact.op }}</span>
        </dd>
        <dt><span jhiTranslate="payrollApp.contact.isDeleted">Is Deleted</span></dt>
        <dd>
          <span>{{ contact.isDeleted }}</span>
        </dd>
        <dt><span jhiTranslate="payrollApp.contact.employe">Employe</span></dt>
        <dd>
          <div *ngIf="contact.employe">
            <a [routerLink]="['/employe', contact.employe?.id, 'view']">{{ contact.employe?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/contact', contact.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
