<div>
  <h2 id="page-heading" data-cy="PayrollInfoHeading">
    <span jhiTranslate="payrollApp.payrollInfo.home.title">Payroll Infos</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="payrollApp.payrollInfo.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-payroll-info"
        [routerLink]="['/payroll-info/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="payrollApp.payrollInfo.home.createLabel"> Create a new Payroll Info </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="payrollInfos?.length === 0">
    <span jhiTranslate="payrollApp.payrollInfo.home.notFound">No payrollInfos found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="payrollInfos && payrollInfos.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="util"><span jhiTranslate="payrollApp.payrollInfo.util">Util</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="code"><span jhiTranslate="payrollApp.payrollInfo.code">Code</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="libAr">
            <span jhiTranslate="payrollApp.payrollInfo.libAr">Lib Ar</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="libFr">
            <span jhiTranslate="payrollApp.payrollInfo.libFr">Lib Fr</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="libEr">
            <span jhiTranslate="payrollApp.payrollInfo.libEr">Lib Er</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="valueRebrique">
            <span jhiTranslate="payrollApp.payrollInfo.valueRebrique">Value Rebrique</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="valueRebDevise">
            <span jhiTranslate="payrollApp.payrollInfo.valueRebDevise">Value Reb Devise</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="tauxChange">
            <span jhiTranslate="payrollApp.payrollInfo.tauxChange">Taux Change</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="dateCalcul">
            <span jhiTranslate="payrollApp.payrollInfo.dateCalcul">Date Calcul</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="dateEffect">
            <span jhiTranslate="payrollApp.payrollInfo.dateEffect">Date Effect</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="calculBy">
            <span jhiTranslate="payrollApp.payrollInfo.calculBy">Calcul By</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="effectBy">
            <span jhiTranslate="payrollApp.payrollInfo.effectBy">Effect By</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="dateSituation">
            <span jhiTranslate="payrollApp.payrollInfo.dateSituation">Date Situation</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="dateop">
            <span jhiTranslate="payrollApp.payrollInfo.dateop">Dateop</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="modifiedBy">
            <span jhiTranslate="payrollApp.payrollInfo.modifiedBy">Modified By</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="createdBy">
            <span jhiTranslate="payrollApp.payrollInfo.createdBy">Created By</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="op"><span jhiTranslate="payrollApp.payrollInfo.op">Op</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="isDeleted">
            <span jhiTranslate="payrollApp.payrollInfo.isDeleted">Is Deleted</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="createdDate">
            <span jhiTranslate="payrollApp.payrollInfo.createdDate">Created Date</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="modifiedDate">
            <span jhiTranslate="payrollApp.payrollInfo.modifiedDate">Modified Date</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="payroll.id">
            <span jhiTranslate="payrollApp.payrollInfo.payroll">Payroll</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let payrollInfo of payrollInfos; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/payroll-info', payrollInfo.id, 'view']">{{ payrollInfo.id }}</a>
          </td>
          <td>{{ payrollInfo.util }}</td>
          <td>{{ payrollInfo.code }}</td>
          <td>{{ payrollInfo.libAr }}</td>
          <td>{{ payrollInfo.libFr }}</td>
          <td>{{ payrollInfo.libEr }}</td>
          <td>{{ payrollInfo.valueRebrique }}</td>
          <td>{{ payrollInfo.valueRebDevise }}</td>
          <td>{{ payrollInfo.tauxChange }}</td>
          <td>{{ payrollInfo.dateCalcul | formatMediumDate }}</td>
          <td>{{ payrollInfo.dateEffect | formatMediumDate }}</td>
          <td>{{ payrollInfo.calculBy }}</td>
          <td>{{ payrollInfo.effectBy }}</td>
          <td>{{ payrollInfo.dateSituation | formatMediumDate }}</td>
          <td>{{ payrollInfo.dateop | formatMediumDatetime }}</td>
          <td>{{ payrollInfo.modifiedBy }}</td>
          <td>{{ payrollInfo.createdBy }}</td>
          <td>{{ payrollInfo.op }}</td>
          <td>{{ payrollInfo.isDeleted }}</td>
          <td>{{ payrollInfo.createdDate | formatMediumDatetime }}</td>
          <td>{{ payrollInfo.modifiedDate | formatMediumDatetime }}</td>
          <td>
            <div *ngIf="payrollInfo.payroll">
              <a [routerLink]="['/payroll', payrollInfo.payroll?.id, 'view']">{{ payrollInfo.payroll?.id }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/payroll-info', payrollInfo.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/payroll-info', payrollInfo.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(payrollInfo)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="payrollInfos && payrollInfos.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
