<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="palierPlate">
      <h2 data-cy="palierPlateDetailsHeading"><span jhiTranslate="payrollApp.palierPlate.detail.title">Palier Plate</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ palierPlate.id }}</span>
        </dd>
        <dt><span jhiTranslate="payrollApp.palierPlate.code">Code</span></dt>
        <dd>
          <span>{{ palierPlate.code }}</span>
        </dd>
        <dt><span jhiTranslate="payrollApp.palierPlate.libEn">Lib En</span></dt>
        <dd>
          <span>{{ palierPlate.libEn }}</span>
        </dd>
        <dt><span jhiTranslate="payrollApp.palierPlate.libAr">Lib Ar</span></dt>
        <dd>
          <span>{{ palierPlate.libAr }}</span>
        </dd>
        <dt><span jhiTranslate="payrollApp.palierPlate.annee">Annee</span></dt>
        <dd>
          <span>{{ palierPlate.annee }}</span>
        </dd>
        <dt><span jhiTranslate="payrollApp.palierPlate.effectiValue">Effecti Value</span></dt>
        <dd>
          <span>{{ palierPlate.effectiValue }}</span>
        </dd>
        <dt><span jhiTranslate="payrollApp.palierPlate.util">Util</span></dt>
        <dd>
          <span>{{ palierPlate.util }}</span>
        </dd>
        <dt><span jhiTranslate="payrollApp.palierPlate.dateop">Dateop</span></dt>
        <dd>
          <span>{{ palierPlate.dateop | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="payrollApp.palierPlate.dateModif">Date Modif</span></dt>
        <dd>
          <span>{{ palierPlate.dateModif | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="payrollApp.palierPlate.modifiedBy">Modified By</span></dt>
        <dd>
          <span>{{ palierPlate.modifiedBy }}</span>
        </dd>
        <dt><span jhiTranslate="payrollApp.palierPlate.op">Op</span></dt>
        <dd>
          <span>{{ palierPlate.op }}</span>
        </dd>
        <dt><span jhiTranslate="payrollApp.palierPlate.isDeleted">Is Deleted</span></dt>
        <dd>
          <span>{{ palierPlate.isDeleted }}</span>
        </dd>
        <dt><span jhiTranslate="payrollApp.palierPlate.pays">Pays</span></dt>
        <dd>
          <div *ngIf="palierPlate.pays">
            <a [routerLink]="['/pays', palierPlate.pays?.id, 'view']">{{ palierPlate.pays?.id }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="payrollApp.palierPlate.affilication">Affilication</span></dt>
        <dd>
          <div *ngIf="palierPlate.affilication">
            <a [routerLink]="['/affiliation', palierPlate.affilication?.id, 'view']">{{ palierPlate.affilication?.id }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="payrollApp.palierPlate.entreprise">Entreprise</span></dt>
        <dd>
          <div *ngIf="palierPlate.entreprise">
            <a [routerLink]="['/entreprise', palierPlate.entreprise?.id, 'view']">{{ palierPlate.entreprise?.id }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="payrollApp.palierPlate.groupe">Groupe</span></dt>
        <dd>
          <div *ngIf="palierPlate.groupe">
            <a [routerLink]="['/groupe', palierPlate.groupe?.id, 'view']">{{ palierPlate.groupe?.id }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="payrollApp.palierPlate.plateTarget">Plate Target</span></dt>
        <dd>
          <div *ngIf="palierPlate.plateTarget">
            <a [routerLink]="['/plate', palierPlate.plateTarget?.id, 'view']">{{ palierPlate.plateTarget?.id }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="payrollApp.palierPlate.platBaseCalcul">Plat Base Calcul</span></dt>
        <dd>
          <div *ngIf="palierPlate.platBaseCalcul">
            <a [routerLink]="['/plate', palierPlate.platBaseCalcul?.id, 'view']">{{ palierPlate.platBaseCalcul?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/palier-plate', palierPlate.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
