<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-plate-info-heading" data-cy="PlateInfoCreateUpdateHeading" jhiTranslate="payrollApp.plateInfo.home.createOrEditLabel">
        Create or edit a Plate Info
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="payrollApp.plateInfo.code" for="field_code">Code</label>
          <input type="text" class="form-control" name="code" id="field_code" data-cy="code" formControlName="code" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="payrollApp.plateInfo.lib" for="field_lib">Lib</label>
          <input type="text" class="form-control" name="lib" id="field_lib" data-cy="lib" formControlName="lib" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="payrollApp.plateInfo.valTaken" for="field_valTaken">Val Taken</label>
          <input type="number" class="form-control" name="valTaken" id="field_valTaken" data-cy="valTaken" formControlName="valTaken" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="payrollApp.plateInfo.dateSituation" for="field_dateSituation"
            >Date Situation</label
          >
          <div class="input-group">
            <input
              id="field_dateSituation"
              data-cy="dateSituation"
              type="text"
              class="form-control"
              name="dateSituation"
              ngbDatepicker
              #dateSituationDp="ngbDatepicker"
              formControlName="dateSituation"
            />
            <span class="input-group-append">
              <button type="button" class="btn btn-secondary" (click)="dateSituationDp.toggle()">
                <fa-icon icon="calendar-alt"></fa-icon>
              </button>
            </span>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="payrollApp.plateInfo.dateop" for="field_dateop">Dateop</label>
          <div class="d-flex">
            <input
              id="field_dateop"
              data-cy="dateop"
              type="datetime-local"
              class="form-control"
              name="dateop"
              formControlName="dateop"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="payrollApp.plateInfo.modifiedBy" for="field_modifiedBy">Modified By</label>
          <input
            type="text"
            class="form-control"
            name="modifiedBy"
            id="field_modifiedBy"
            data-cy="modifiedBy"
            formControlName="modifiedBy"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="payrollApp.plateInfo.createdBy" for="field_createdBy">Created By</label>
          <input type="text" class="form-control" name="createdBy" id="field_createdBy" data-cy="createdBy" formControlName="createdBy" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="payrollApp.plateInfo.op" for="field_op">Op</label>
          <input type="text" class="form-control" name="op" id="field_op" data-cy="op" formControlName="op" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="payrollApp.plateInfo.util" for="field_util">Util</label>
          <input type="text" class="form-control" name="util" id="field_util" data-cy="util" formControlName="util" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="payrollApp.plateInfo.isDeleted" for="field_isDeleted">Is Deleted</label>
          <input type="checkbox" class="form-check" name="isDeleted" id="field_isDeleted" data-cy="isDeleted" formControlName="isDeleted" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="payrollApp.plateInfo.createdDate" for="field_createdDate">Created Date</label>
          <div class="d-flex">
            <input
              id="field_createdDate"
              data-cy="createdDate"
              type="datetime-local"
              class="form-control"
              name="createdDate"
              formControlName="createdDate"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="payrollApp.plateInfo.modifiedDate" for="field_modifiedDate">Modified Date</label>
          <div class="d-flex">
            <input
              id="field_modifiedDate"
              data-cy="modifiedDate"
              type="datetime-local"
              class="form-control"
              name="modifiedDate"
              formControlName="modifiedDate"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="payrollApp.plateInfo.plate" for="field_plate">Plate</label>
          <select class="form-control" id="field_plate" data-cy="plate" name="plate" formControlName="plate">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="plateOption.id === editForm.get('plate')!.value?.id ? editForm.get('plate')!.value : plateOption"
              *ngFor="let plateOption of platesSharedCollection; trackBy: trackPlateById"
            >
              {{ plateOption.id }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="payrollApp.plateInfo.rebrique" for="field_rebrique">Rebrique</label>
          <select class="form-control" id="field_rebrique" data-cy="rebrique" name="rebrique" formControlName="rebrique">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="rebriqueOption.id === editForm.get('rebrique')!.value?.id ? editForm.get('rebrique')!.value : rebriqueOption"
              *ngFor="let rebriqueOption of rebriquesSharedCollection; trackBy: trackRebriqueById"
            >
              {{ rebriqueOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
