<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="soldeAbsencePaie">
      <h2 data-cy="soldeAbsencePaieDetailsHeading">
        <span jhiTranslate="payrollApp.soldeAbsencePaie.detail.title">Solde Absence Paie</span>
      </h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ soldeAbsencePaie.id }}</span>
        </dd>
        <dt><span jhiTranslate="payrollApp.soldeAbsencePaie.annee">Annee</span></dt>
        <dd>
          <span>{{ soldeAbsencePaie.annee }}</span>
        </dd>
        <dt><span jhiTranslate="payrollApp.soldeAbsencePaie.mois">Mois</span></dt>
        <dd>
          <span>{{ soldeAbsencePaie.mois }}</span>
        </dd>
        <dt><span jhiTranslate="payrollApp.soldeAbsencePaie.nbDays">Nb Days</span></dt>
        <dd>
          <span>{{ soldeAbsencePaie.nbDays }}</span>
        </dd>
        <dt><span jhiTranslate="payrollApp.soldeAbsencePaie.util">Util</span></dt>
        <dd>
          <span>{{ soldeAbsencePaie.util }}</span>
        </dd>
        <dt><span jhiTranslate="payrollApp.soldeAbsencePaie.dateop">Dateop</span></dt>
        <dd>
          <span>{{ soldeAbsencePaie.dateop | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="payrollApp.soldeAbsencePaie.modifiedBy">Modified By</span></dt>
        <dd>
          <span>{{ soldeAbsencePaie.modifiedBy }}</span>
        </dd>
        <dt><span jhiTranslate="payrollApp.soldeAbsencePaie.op">Op</span></dt>
        <dd>
          <span>{{ soldeAbsencePaie.op }}</span>
        </dd>
        <dt><span jhiTranslate="payrollApp.soldeAbsencePaie.isDeleted">Is Deleted</span></dt>
        <dd>
          <span>{{ soldeAbsencePaie.isDeleted }}</span>
        </dd>
        <dt><span jhiTranslate="payrollApp.soldeAbsencePaie.createdDate">Created Date</span></dt>
        <dd>
          <span>{{ soldeAbsencePaie.createdDate | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="payrollApp.soldeAbsencePaie.modifiedDate">Modified Date</span></dt>
        <dd>
          <span>{{ soldeAbsencePaie.modifiedDate | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="payrollApp.soldeAbsencePaie.payroll">Payroll</span></dt>
        <dd>
          <div *ngIf="soldeAbsencePaie.payroll">
            <a [routerLink]="['/payroll', soldeAbsencePaie.payroll?.id, 'view']">{{ soldeAbsencePaie.payroll?.id }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="payrollApp.soldeAbsencePaie.natureAbsence">Nature Absence</span></dt>
        <dd>
          <div *ngIf="soldeAbsencePaie.natureAbsence">
            <a [routerLink]="['/nature-absence', soldeAbsencePaie.natureAbsence?.id, 'view']">{{ soldeAbsencePaie.natureAbsence?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/solde-absence-paie', soldeAbsencePaie.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
