<div>
  <h2 id="page-heading" data-cy="TypeHandicapHeading">
    <span jhiTranslate="payrollApp.typeHandicap.home.title">Type Handicaps</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="payrollApp.typeHandicap.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-type-handicap"
        [routerLink]="['/type-handicap/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="payrollApp.typeHandicap.home.createLabel"> Create a new Type Handicap </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="typeHandicaps?.length === 0">
    <span jhiTranslate="payrollApp.typeHandicap.home.notFound">No typeHandicaps found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="typeHandicaps && typeHandicaps.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="code">
            <span jhiTranslate="payrollApp.typeHandicap.code">Code</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="libAr">
            <span jhiTranslate="payrollApp.typeHandicap.libAr">Lib Ar</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="libEn">
            <span jhiTranslate="payrollApp.typeHandicap.libEn">Lib En</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="util">
            <span jhiTranslate="payrollApp.typeHandicap.util">Util</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="dateop">
            <span jhiTranslate="payrollApp.typeHandicap.dateop">Dateop</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="modifiedBy">
            <span jhiTranslate="payrollApp.typeHandicap.modifiedBy">Modified By</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="op"><span jhiTranslate="payrollApp.typeHandicap.op">Op</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="isDeleted">
            <span jhiTranslate="payrollApp.typeHandicap.isDeleted">Is Deleted</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="createdDate">
            <span jhiTranslate="payrollApp.typeHandicap.createdDate">Created Date</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="modifiedDate">
            <span jhiTranslate="payrollApp.typeHandicap.modifiedDate">Modified Date</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let typeHandicap of typeHandicaps; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/type-handicap', typeHandicap.id, 'view']">{{ typeHandicap.id }}</a>
          </td>
          <td>{{ typeHandicap.code }}</td>
          <td>{{ typeHandicap.libAr }}</td>
          <td>{{ typeHandicap.libEn }}</td>
          <td>{{ typeHandicap.util }}</td>
          <td>{{ typeHandicap.dateop | formatMediumDatetime }}</td>
          <td>{{ typeHandicap.modifiedBy }}</td>
          <td>{{ typeHandicap.op }}</td>
          <td>{{ typeHandicap.isDeleted }}</td>
          <td>{{ typeHandicap.createdDate | formatMediumDatetime }}</td>
          <td>{{ typeHandicap.modifiedDate | formatMediumDatetime }}</td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/type-handicap', typeHandicap.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/type-handicap', typeHandicap.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(typeHandicap)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="typeHandicaps && typeHandicaps.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
