<div>
  <h2 id="page-heading" data-cy="RebriqueHeading">
    <span jhiTranslate="payrollApp.rebrique.home.title">Rebriques</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="payrollApp.rebrique.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-rebrique"
        [routerLink]="['/rebrique/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="payrollApp.rebrique.home.createLabel"> Create a new Rebrique </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="rebriques?.length === 0">
    <span jhiTranslate="payrollApp.rebrique.home.notFound">No rebriques found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="rebriques && rebriques.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="priorite">
            <span jhiTranslate="payrollApp.rebrique.priorite">Priorite</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="code"><span jhiTranslate="payrollApp.rebrique.code">Code</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="libAr">
            <span jhiTranslate="payrollApp.rebrique.libAr">Lib Ar</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="libFr">
            <span jhiTranslate="payrollApp.rebrique.libFr">Lib Fr</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="libEn">
            <span jhiTranslate="payrollApp.rebrique.libEn">Lib En</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="inTax">
            <span jhiTranslate="payrollApp.rebrique.inTax">In Tax</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="minValue">
            <span jhiTranslate="payrollApp.rebrique.minValue">Min Value</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="maxValue">
            <span jhiTranslate="payrollApp.rebrique.maxValue">Max Value</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="dateSituation">
            <span jhiTranslate="payrollApp.rebrique.dateSituation">Date Situation</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="dateop">
            <span jhiTranslate="payrollApp.rebrique.dateop">Dateop</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="modifiedBy">
            <span jhiTranslate="payrollApp.rebrique.modifiedBy">Modified By</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="createdBy">
            <span jhiTranslate="payrollApp.rebrique.createdBy">Created By</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="util"><span jhiTranslate="payrollApp.rebrique.util">Util</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="op"><span jhiTranslate="payrollApp.rebrique.op">Op</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="isDeleted">
            <span jhiTranslate="payrollApp.rebrique.isDeleted">Is Deleted</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="createdDate">
            <span jhiTranslate="payrollApp.rebrique.createdDate">Created Date</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="modifiedDate">
            <span jhiTranslate="payrollApp.rebrique.modifiedDate">Modified Date</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="pays.id"><span jhiTranslate="payrollApp.rebrique.pays">Pays</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="natureConfig.id">
            <span jhiTranslate="payrollApp.rebrique.natureConfig">Nature Config</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="affilication.id">
            <span jhiTranslate="payrollApp.rebrique.affilication">Affilication</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="entreprise.id">
            <span jhiTranslate="payrollApp.rebrique.entreprise">Entreprise</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="groupe.id">
            <span jhiTranslate="payrollApp.rebrique.groupe">Groupe</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="modeInput.id">
            <span jhiTranslate="payrollApp.rebrique.modeInput">Mode Input</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="sens.id"><span jhiTranslate="payrollApp.rebrique.sens">Sens</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="concerne.id">
            <span jhiTranslate="payrollApp.rebrique.concerne">Concerne</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="frequence.id">
            <span jhiTranslate="payrollApp.rebrique.frequence">Frequence</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let rebrique of rebriques; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/rebrique', rebrique.id, 'view']">{{ rebrique.id }}</a>
          </td>
          <td>{{ rebrique.priorite }}</td>
          <td>{{ rebrique.code }}</td>
          <td>{{ rebrique.libAr }}</td>
          <td>{{ rebrique.libFr }}</td>
          <td>{{ rebrique.libEn }}</td>
          <td>{{ rebrique.inTax }}</td>
          <td>{{ rebrique.minValue }}</td>
          <td>{{ rebrique.maxValue }}</td>
          <td>{{ rebrique.dateSituation | formatMediumDate }}</td>
          <td>{{ rebrique.dateop | formatMediumDatetime }}</td>
          <td>{{ rebrique.modifiedBy }}</td>
          <td>{{ rebrique.createdBy }}</td>
          <td>{{ rebrique.util }}</td>
          <td>{{ rebrique.op }}</td>
          <td>{{ rebrique.isDeleted }}</td>
          <td>{{ rebrique.createdDate | formatMediumDatetime }}</td>
          <td>{{ rebrique.modifiedDate | formatMediumDatetime }}</td>
          <td>
            <div *ngIf="rebrique.pays">
              <a [routerLink]="['/pays', rebrique.pays?.id, 'view']">{{ rebrique.pays?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="rebrique.natureConfig">
              <a [routerLink]="['/nature-config', rebrique.natureConfig?.id, 'view']">{{ rebrique.natureConfig?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="rebrique.affilication">
              <a [routerLink]="['/affiliation', rebrique.affilication?.id, 'view']">{{ rebrique.affilication?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="rebrique.entreprise">
              <a [routerLink]="['/entreprise', rebrique.entreprise?.id, 'view']">{{ rebrique.entreprise?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="rebrique.groupe">
              <a [routerLink]="['/groupe', rebrique.groupe?.id, 'view']">{{ rebrique.groupe?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="rebrique.modeInput">
              <a [routerLink]="['/mode-input', rebrique.modeInput?.id, 'view']">{{ rebrique.modeInput?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="rebrique.sens">
              <a [routerLink]="['/sens', rebrique.sens?.id, 'view']">{{ rebrique.sens?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="rebrique.concerne">
              <a [routerLink]="['/concerne', rebrique.concerne?.id, 'view']">{{ rebrique.concerne?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="rebrique.frequence">
              <a [routerLink]="['/frequence', rebrique.frequence?.id, 'view']">{{ rebrique.frequence?.id }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/rebrique', rebrique.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/rebrique', rebrique.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(rebrique)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="rebriques && rebriques.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
