<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="famille">
      <h2 data-cy="familleDetailsHeading"><span jhiTranslate="payrollApp.famille.detail.title">Famille</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ famille.id }}</span>
        </dd>
        <dt><span jhiTranslate="payrollApp.famille.dateSituation">Date Situation</span></dt>
        <dd>
          <span>{{ famille.dateSituation | formatMediumDate }}</span>
        </dd>
        <dt><span jhiTranslate="payrollApp.famille.dateop">Dateop</span></dt>
        <dd>
          <span>{{ famille.dateop | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="payrollApp.famille.util">Util</span></dt>
        <dd>
          <span>{{ famille.util }}</span>
        </dd>
        <dt><span jhiTranslate="payrollApp.famille.modifiedBy">Modified By</span></dt>
        <dd>
          <span>{{ famille.modifiedBy }}</span>
        </dd>
        <dt><span jhiTranslate="payrollApp.famille.op">Op</span></dt>
        <dd>
          <span>{{ famille.op }}</span>
        </dd>
        <dt><span jhiTranslate="payrollApp.famille.isDeleted">Is Deleted</span></dt>
        <dd>
          <span>{{ famille.isDeleted }}</span>
        </dd>
        <dt><span jhiTranslate="payrollApp.famille.createdDate">Created Date</span></dt>
        <dd>
          <span>{{ famille.createdDate | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="payrollApp.famille.modifiedDate">Modified Date</span></dt>
        <dd>
          <span>{{ famille.modifiedDate | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="payrollApp.famille.employe">Employe</span></dt>
        <dd>
          <div *ngIf="famille.employe">
            <a [routerLink]="['/employe', famille.employe?.id, 'view']">{{ famille.employe?.id }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="payrollApp.famille.situationFamiliale">Situation Familiale</span></dt>
        <dd>
          <div *ngIf="famille.situationFamiliale">
            <a [routerLink]="['/situation-familiale', famille.situationFamiliale?.id, 'view']">{{ famille.situationFamiliale?.id }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="payrollApp.famille.conjoint">Conjoint</span></dt>
        <dd>
          <div *ngIf="famille.conjoint">
            <a [routerLink]="['/conjoint', famille.conjoint?.id, 'view']">{{ famille.conjoint?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/famille', famille.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
